*~
\#
bin/
obj/
doc/html/
*.mod
*.out
*.o
*.e
wandb/
*.err
tools/D_*
tools/*.txt
tools/cnn_*
cnn_*.in
DTEST*
network*.in
.ipynb_checkpoints
OLD_CMakeLists.txt
build/
test/bin/
test/obj/
example/bin/
example/obj/
DPython_test/
settings.json